# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
# db.sqlite3
# db.sqlite3-journal

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.idea/
.vscode/
*.swp
.DS_Store
